body {
    font-size: 16px;
    color: black;
    background-color: #F1F1F1;
    font-family: 'Oswald', sans-serif;
}

/** HEADER **/
#header-nav {
    background-color: #9B9B9B;
    border-radius: 0;
    border: 0px;
    height: 100px;
}

.navbar-brand h1 { /* Brand name */
    font-family: 'Dancing Script', serif;
    color: #3D4B67;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand {
    padding-top: 25px;
}
#nav-list {
    margin-top: 0px;
}

    #nav-list a {
        color: #3D4B67;
        background: #9B9B9B;
        text-align: center;
    }

        #nav-list a:hover {
            background: #B6B4B4;
        }

        #nav-list a span {
            font-size: 1.8em;
        }

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 2px solid #3D4B67;
    width: auto;
    height: auto;
}

.navbar-header button.navbar-toggle {
    clear: both;
    width: 75px;
    height: 50px;
    margin-top: -70px;
}

#main-content h2 {
    font-size: 300%;
    font-weight: bold;
    color: black;
    margin: 20px 0px 50px;
}

.row {
    border: 2px solid #3F0C1F;
    background: #A09E9E;
}

    .row p{
        margin: 30px;
        height: 1000px;
    }

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
    /* Header */
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }

        .navbar-brand h1 { /* Brand Name */
            padding: 10px 20px;
            font-size: 2.5em;
        }

    #collapsable-nav a { /* Collapsed nav menu text */
        font-size: 1.2em;
    }

        #collapsable-nav a span { /* Collapsed nav menu glyph */
            font-size: 1em;
            margin-right: 5px;
        }

    #collapsable-nav ul{
        margin-bottom: 0px;
    }

        

    #header-nav {
        background-color: #9B9B9B;
        border-radius: 0;
        border: 1px;
        height: auto;
    }

    hr {
        background: black;
        height: 1px;
        margin: 0px;
        border: 0px;
    }

    #main-content{
        margin: auto 75px;
    }

    
    /* End Header */

    
}